---
import Layout from '../layout/Layout.astro';

const apiKey = 'AIzaSyAahQnLy5sv3ZK0pfacCXxigfyNaxDdoCA';
---

<Layout title="Leave it at the Door" currentPage = 'contact'>
  <div class='content__body'>
    <h3 class='content__header'>Contact US</h3>
    <p>We are located on Falling Spring Road, in Lovely Simpsonville SC.</p>
    <div id="map" class="outline outline--med"></div>
    <p>Maybe you like to fill out forms?  Come on who doesn't?? (no one)</p>
    <form name="contact" method="POST" data-netlify="true" class="form outline outline--med">
      <p>
        <label>Name: <input type="text" name="name" /></label>
        <label>Email: <input type="email" name="email" /></label>
      </p>
      <p>
        <label>Message: <textarea name="message"></textarea></label>
      </p>
      <p>
        <button type="submit">Send</button>
    </form>

    <p>Or maybe email is more your thing <a href='mailto:LeaveitAttheDoor@proton.me'>LeaveitattheDoor@proton.me</a></p>
    <p>Or you could give us a ring at <a href="tel:9995551212">(999) 555-1212</a>, but come on, isn't this more a text type thing?</p>
    </p>
  </div>
</Layout>
<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 34.7363, lng: -82.23428 },
      zoom: 17
    });
  }

  window.initMap = initMap;
</script>
<script src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap&libraries=places&v=weekly` defer></script>
<style>

  #map {
		width: 75%;
		min-height: 400px;
    margin: 25px auto;
	}

  .form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
    background-image: url(/src/img/chalkboard-background.jpg);
    color: #fff;
  }

  textarea {
    width: 75%;
    height: 75px;
    vertical-align: top;
  }

</style>
