---
import Layout from '../layout/Layout.astro';
---

<Layout title="Leave it at the Door" currentPage = "drinks">
  <div class='content__body'>
    <h3 class='content__header'>Drink Menu</h3>
    <p>Coming soon!</p>

    <!-- 

      Cyberpunk Cooler
      1 oz Blue Curaçao
      1 oz Vodka
      2 oz Lemonade
      A splash of soda (club soda or lemon-lime soda)
      Ice cubes
      Optional: Neon-colored straw or glow stick for garnish

      
      WarGames Whiskey Sour
      2 oz whiskey (bourbon or rye)
      3/4 oz fresh lemon juice
      1/2 oz simple syrup (you can adjust this to your preferred sweetness)
      Ice cubes
      Lemon wheel or cherry for garnish
      In a cocktail shaker, combine ingidents, Adjust the simple syrup to your preferred sweetness level; "WarGames" is all about choices, after all!


      Pink Lady
      2 oz gin
      1 oz applejack or apple brandy
      1/2 oz lemon juice
      1/2 oz grenadine
      1 egg white
      Ice
      Maraschino cherry for garnish
      -In a cocktail shaker, combine 2 oz of gin, 1 oz of applejack (or apple brandy), 1/2 oz of lemon juice, 1/2 oz of grenadine, and 1 egg white.
      -Add some ice to the shaker, and shake vigorously to froth the egg white and chill the mixture.
      -Strain the cocktail into a chilled cocktail glass.


      Mariner's Mule
      2 oz coconut rum
      1 oz blue curaçao
      1/2 oz lime juice
      4 oz ginger beer
      Ice
      Lime wheel or wedge for garnish
      Instructions:
      -Fill a copper mug or a highball glass with ice.
      -Pour in 2 oz of coconut rum. This represents the coastal and aquatic aspect of "Waterworld."
      -Add 1 oz of blue curaçao for the blue waters of the world portrayed in the movie.
      -Squeeze in 1/2 oz of lime juice for a refreshing, tangy twist.
      -Top off the drink with 4 oz of ginger beer for some fizz and spiciness.
      -Give it a gentle stir to mix the ingredients.

     -->
  </div>
</Layout>

<style>
  .content__body-item {
    display: flex;
  }
</style>