---
import Layout from '../layout/Layout.astro';
---

<Layout title="Leave it at the Door" currentPage = "drinks">
  <h3 class='content__header'>Drink Menu</h3>
  <div class='content__body'>
    <p>Coming soon!</p>
  </div>
</Layout>

<style>
  .content__body-item {
    display: flex;
  }
</style>