---
import Layout from '../layout/Layout.astro';
---

<Layout title="Leave it at the Door">
	<main>
   <div id="content">
      <div class="header">
        <div class="logo">
          Logo
        </div>
        <h1>Leave it at the Door</h1>
        <h2>
          Bar, and some food.
        </h2>
        
      </div>
    </div>
	</main>
</Layout>