---
import { Image } from 'astro:assets';
import Layout from '../layout/Layout.astro';

import Backbar from '../img/back-bar.jpg';
import Darts from '../img/darts.jpg';
---

<Layout title="Leave it at the Door" currentPage="home">
  <div class='content__body'>
    <h3 class='content__header'>Welcome to Leave it at the Door, Where we ask that you please leave any problems at the door!</h3>
    <Image src={ Backbar } aria-hidden='true' alt='back of bar' class="content__body-img content__body-img--left outline" />
    <h4>Step inside, and you'll find yourself in the coziest dive bar in Simpsonville, South Carolina, where the atmosphere is as laid-back as it gets.</h4>
    <p>Our kitchen is where comfort meets craftsmanship. We take pride in serving up genuine, made from scratch food that'll remind you of mom's kitchen. From our mouthwatering nachos loaded with your choice of chicken or beef, to Bevarian pretzels served with beer cheese. And if you're looking for something more, try our Schnitzel Sandwich!</p>
    <Image src={ Darts } aria-hidden='true' alt='Dart board' class="content__body-img content__body-img--right outline" />
    <p>And don't forget to ask about our daily specials!</p>
    <p>We elevate mixology to an art form. Our skilled bartenders are dedicated to creating custom cocktails that tickle your taste buds. From classics like the Old Fashioned to imaginative concoctions unique to our bar, every sip is a journey of flavor. Our bar is the perfect place to unwind with a drink in hand.</p>
    <p>We're not just about great food and drinks; we're also a hub for entertainment. Challenge your friends to a game of darts or pool, show off your gaming skills with a variety of video games, or opt for a more relaxed evening with our collection of board games. Whether you're competing or simply enjoying some friendly banter, "Leave it at the Door" is the ideal spot for fun and games.</p>
    <p>At "Leave it at the Door," you're not just a customer; you're part of our welcoming, friendly community. We invite you to enjoy good food, tasty cocktails, and a range of entertainment options, all within the cozy and laid-back atmosphere that defines our dive bar.</p>
  </div>
</Layout>

<style>
  .content__body-img {
    width: 250px;
    height: auto;
  }
</style>
