---
import { Image } from 'astro:assets';

import Layout from '../layout/Layout.astro';
import Backbar from '../img/back-bar.jpg';
import Darts from '../img/darts.jpg';
---

<Layout title="Leave it at the Door" currentPage="home">
  <div class='content__body'>
    <h3 class='content__header'>Welcome to Leave it at the Door, Where we ask that you please leave any sh!t at the door!</h3>
    <Image src={ Backbar } aria-hidden='true' alt='back of bar' class="content__body-img content__body-img--left" width="250px"/>
    <h4>This is a spoof site of a non-existant bar, that I may try and open one day!</h4>
    <p>This is built with Astro, and is my first attempt at an Astro built site, big plus the css is only used when needed, no huge css file to request and wait on. HTML, CSS, and a little bit of JS only when needed.
    <p>Bacon ipsum dolor amet shankle flank shoulder chuck, ground round labore tongue turducken ut. Brisket ham sausage ad do. Shank beef officia tempor, jerky ex chuck filet mignon proident hamburger tenderloin t-bone laboris. Enim shankle aute ut hamburger. Occaecat venison velit excepteur. Lorem swine est porchetta et kevin commodo buffalo. Short loin in laborum biltong consectetur.</p>
    <Image src={ Darts } aria-hidden='true' alt='Dart board' class="content__body-img content__body-img--right" width="250px" />
    <p>Ut shankle turkey mollit et occaecat magna dolor short loin consequat tenderloin drumstick. Veniam adipisicing meatloaf filet mignon sed ham hock doner ut frankfurter pork belly fatback dolore landjaeger fugiat eiusmod. Proident venison pancetta tempor ut turducken est in prosciutto sausage short loin swine. Qui duis culpa voluptate id t-bone doner lorem nisi incididunt consequat. Buffalo nisi cupidatat, pork chop meatloaf venison fugiat. Jowl tail doner pastrami ribeye dolore shankle cow sausage beef ribs meatball landjaeger short ribs. Est ut landjaeger ball tip culpa.</p>
    <p>Jerky alcatra duis, landjaeger filet mignon sausage ut buffalo hamburger ball tip andouille dolore adipisicing venison lorem. Flank ullamco bacon fugiat ut ham hock venison commodo cillum ipsum. Minim tongue consectetur shank porchetta. Capicola eiusmod flank, frankfurter burgdoggen occaecat nostrud bresaola ullamco dolore.</p>
  </div>
</Layout>
