---
import Layout from '../layout/Layout.astro';
import Logo from '../components/logo.astro';
import Nav from '../components/navigation.astro';
import Specials from '../components/specials.astro';
import DaySpecial from '../components/day-special.astro';
import Footer from '../components/footer.astro';

let currentPage = 'specials';
---

<Layout class="main" title="Leave it at the Door">
	<div class="content">
    <div class="content__one">
      <div class="header">
        <Logo />
        <Nav {currentPage}/>
      </div>
      <h3 class='content__header'>SPECIALS</h3>
      <span class='content__body'>
        <p>Coming Soon!</p>
      </span>
    </div>
    <Specials>
      <DaySpecial day='Monday' drink='Keri-rita' food='Bogo Pizza' event='Trivia' />
      <DaySpecial day='Tuesday' drink='Green Juice' food='$2 burger' event='1/2 Price Pool!' />
      <DaySpecial day='Wednesday' drink='$5 Shotz' food='50 Cent Wing' event='Karaoke' />
      <DaySpecial day='Thurday' drink='$2 Draft' food='1/2 price Apps' event='Music Bingo' />
      <DaySpecial day='Friday' drink='1/2 off well drinks' food='Dollar a Rib' event='Karaoke' />
    </Specials>
	</div>
  <Footer />
</Layout>

<style>

</style>