@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --max-content-width: 1300px;

  --logo-purple: ab77f0;
  --logo-drk-purple: #340a52;
  --logo-lt-purple: #986cB8;

  --main-family: 'Poppins', sans-serif;
  --color-bg: linear-gradient(180deg, #fff 65%, #ab77f0 100%);

  /* Controls the blob blur gradient colors within the main tag's svg */
  --top-right-blur-1: #20C6B7;
  --top-right-blur-2: #4D9ABF;
  --bttm-left-blur-1: #FF5C02;
  --bttm-left-blur-2: #FFCDB1;
}

html {
    font-family: var(--main-family);
    height: 100%;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.content {
  display: flex;
  max-width: var(--max-content-width);
  width: 95%;
  margin: 25px 0 75px;
}

.content__one {
  flex: 1;
}

.content__body-img {
  margin: 7px 25px;
}

.content__body-img--left {
  float: left;
  margin-left: 0;
}

.content__body-img--right {
float: right;
margin-right: 0;
}


@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
}