---
import LogoImg from '../img/logo-v2.png';
---

<div class='logo'>
    <img src={ LogoImg } alt="Leave it at the Door, Bar & Food" />
</div>

<style>
    .logo img {
        width: 250px;
    }

    @media (max-width: 768px) {
        .logo img {
            width: 150px;
        }
    }
</style>