---
import LogoImg from '../img/logo.png';
---

<div class='logo'>
    <img src={ LogoImg } alt="Leave it at the Door, Bar & Food" />
</div>

<style>
    .logo img {
        width: 250px;
    }

</style>