---
import { Image } from 'astro:assets';
import LogoImg from '../img/logo-v2.png';
const logoAlt = 'Leave it at the Door Logo';
---

<div class='logo'>
    <Image
        src={LogoImg}
        width={250}
        alt='Leave it at the Door Logo'
    />
</div>

<style>

    @media (max-width: 768px) {
        .logo img {
            width: 200px;
            height: auto;
        }
    }
</style>