---

export interface Props {
	name: string;
    price: string;
    disc: string;
}

let {name, price, disc} = Astro.props as Props;

---

<div class="menu-item">
    <div class="menu-item__name">{name}</div>
    <div class="menu-item__price">{price}</div>
    <div class="menu-item__disc">{disc}</div>
</div>

<style>
    .menu-item {
        display: grid;
        grid-template-columns: auto 1fr;
        margin: 15px 0 25px;
    }

    .menu-item__name {
        grid-column-start: 1;
        grid-column-end: 2;
        font-weight: bold;
    }

    .menu-item__price {
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: right;
        font-size: .9rem;
    }

    .menu-item__disc {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 100%;
        margin-top: 5px;
    }