<div class="header__nav">
    <ul>
        <li>Home</li>
        <li>Menu</li>
        <li>Specials</li>
        <li>Contact Us</li>
    </ul>
</div>

<style>
    .header__nav {
        flex: 1;
    }
    .header__nav ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    .header__nav li {
        margin-left: 10px;
    }
</style>