---
export interface Props {
	currentPage: string;
}

let {currentPage} = Astro.props as Props;

alert(`currentPage: ${currentPage}`);

---

<div class="header__nav">
    <ul>
        <li><a class={currentPage === 'home' ? 'active' : ''} href="/">Home</a></li>
        <li><a class={currentPage === 'menu' ? 'active' : ''} href="/menu.html">Menu</a></li>
        <li><a class={currentPage === 'specials' ? 'active' : ''} href="/specials.html">Specials</a></li>
        <li><a class={currentPage === 'contact' ? 'active' : ''} href="/contact-us.html">Contact Us</a></li>
    </ul>
</div>

<style>
    .header__nav {
        flex: 1;
    }
    .header__nav ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    .header__nav li a {
        margin-left: 10px;
        color: var(--logo-drk-purple);
        text-decoration: none;
    }

    .header__nav li a.active {
        font-weight: bold;
        color: var(--logo-lt-purple);
        text-decoration: underline;
    }
</style>