<div class="header__nav">
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/menu.html'>Menu</a></li>
        <li><a href='/specials.html'>Specials</a></li>
        <li><a href='/contact-us.html'>Contact Us</a></li>
    </ul>
</div>

<style>
    .header__nav {
        flex: 1;
    }
    .header__nav ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    .header__nav li {
        margin-left: 10px;
    }
</style>