---
import SideBarItem from "./sidebar-item.astro";
---

<aside class="sidebar">
    <h2>Specials</h2>
    <SideBarItem day='Monday' drink='Lounge Lizard' food='Schnitzel Burger' event='Trivia' />
    <SideBarItem day='Tuesday' drink='Keri-rita' food='Tacos!' event='1/2 Price Pool!' />
    <SideBarItem day='Wednesday' drink='$3 Shot-O-Day' food='Meatloaf Dinner' event='Karaoke' />
    <SideBarItem day='Thurday' drink='$2 Draft' food='1/2 price Apps' event='Music Bingo' />
    <SideBarItem day='Friday' drink='1/2 off well drinks' food='N.S. Roast Beef' event='Karaoke' />
</aside>

<style>
    .sidebar {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        border-radius: 15px;
        min-width: 200px;
        height: fit-content;
        margin: 50px 0 0 50px;
        padding: 25px 15px;
        text-align: center;
    }

    .sidebar h2 {
        margin: 0;
    }

    @media (max-width: 768px) {

        .sidebar {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 25px auto;
        }
        .sidebar h2 {
            width: 100%;
        }
    }

</style>