<aside class="specials">
    <h2>Specials</h2>
    <slot />
</aside>

<style>
    .specials {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        border-radius: 15px;
        width: 200px;
        height: fit-content;
        margin: 50px 0 0 50px;
        padding: 25px 15px;
        text-align: center;
    }

    .specials h2 {
        margin: 0;
    }

    @media (max-width: 768px) {

        .specials {
            flex-direction: row;
            flex-wrap: wrap;
            width: fit-content;
            margin: 25px 0;
        }
        .specials h2 {
            width: 100%;
        }
    }

</style>