<aside class="specials">
    <h2>Specials</h2>
    <slot />
</aside>

<style>
    .specials {
        border: 1px solid grey;
        border-radius: 15px;
        width: 200px;
        margin: 50px 0 0 50px;
        padding: 25px 15px;
        text-align: center;
    }

    .specials h2 {
        margin: 0;
    }