---
import '../style/styles.css'
import Logo from '../components/logo.astro';
import Nav from '../components/navigation.astro';
import Sidebar from '../components/sidebar.astro';
import Footer from '../components/footer.astro';

export interface Props {
	title: string;
	currentPage: string;
}

const { title, currentPage } = Astro.props as Props;
const apiKey = import.meta.env.GOOGLE_API_KEY;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
</head>
<body>
	<main class='full-size' id="page-top">
		<div class="content">
			<div class="content__one">
				<div class="header">
					<Logo />
					<Nav {currentPage}/>
				</div>
				<slot />
			</div>
			<Sidebar />
			</div>
	  	<Footer />
	<main />
	<script src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap&libraries=places&v=weekly` defer></script>
</body>
</html>

<style>
	.full-size {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-size: cover;
		width: 100%;
		height: auto;
		min-height: 100%;
	}
</style>
